/* Font variables */

$txtbody: 'Noto Sans JP', sans-serif;
$heading: 'Comfortaa', arial, sans-serif;



/* Color variables */

$color-blue-banner : #017dc5;
$color-blue : #3c77bd;
$color-bluedark : #0d2864;
$color-greylighter : #fafafa;
$color-greylight : #eaeaea;
$color-greymiddle : #d1d3d4;
$color-greydark : #2c2c2c;

$color-blueback : #326aab;
$color-bluebackgradient : linear-gradient(#3d7ac1, #345e9c);