
    <meta charset="UTF-8">
    <title>Title of the page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- META TAG -->
    <link rel="canonical"                   href="missinglink" />

    <!--SEO-->
    <meta name="robots"                     content="noindex, nofollow, notranslate, noarchive" />
    <meta name="description"                content="missingvalue" />

    <!--Patch IE-->
    <meta http-equiv="X-UA-Compatible"      content="IE=edge">

    <!--Favicon-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />

    <!--Facebook-->
    <meta property="og:title"               content="European Parliament" />
    <meta property="og:url"                 content="MISSINGLINK" />
    <meta property="og:image"               content="../europarl/img/meta-facebook.jpg" />
    <meta property="og:site_name"           content="European Parliament" />
    <meta property="og:type"                content="government" />
    <meta property="og:description"         content="missingvalue" />

    <!--Twitter-->
    <meta property="twitter:card"           content="summary" />
    <meta property="twitter:title"          content="European Parliament" />
    <meta property="twitter:image"          content="../europarl/img/meta-twitter.jpg" />
    <meta property="twitter:site"           content="Europarl_EN" />
    <meta property="twitter:creator"        content="Europarl_EN" />
    <meta property="twitter:description"    content="missingvalue" />

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700|Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
    <noscript>
        <link href="css/style-nojs.min.css" type="text/css" rel="stylesheet">
    </noscript>