
    <div class="ep_gridrow">
        <div class="ep_gridrow-content">
            <div class="ep_gridcolumn" data-view1200="4" data-view1020="4" data-view750="6" data-view640="8" data-view480="8" data-view320="4">
                <div class="ep_gridrow">
                    <div class="ep_gridrow-content">
                        <div class="ep_gridcolumn">
                            <div class="ep_gridcolumn-content">
                                <div class="component space-t__20px space-b__20px slideLeft" data-delay-slideLeft="1">
                                    <div data-headings title="Read more">
                                        <div class="headings">
                                            <h2 class="article-top-story_content-heading">
                                                <div class="text-color__grey-dark">
                                                    <span class="label">Story telling</span>
                                                </div>
                                            </h2>
                                            <h3 class="article-top-story_content-subheading">
                                                <div class="text-color__grey-dark">
                                                    <span class="label">European chart</span>
                                                </div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ep_gridrow">
                    <div class="ep_gridrow-content">
                        <div class="ep_gridcolumn">
                            <div class="ep_gridcolumn-content">
                                <div class="component space-t__20px space-b__20px slideUp" data-delay-slideUp="2">
                                    <div data-headings title="Read more">
                                        <div class="">
                                            <p class="article-top-story_content-paragraph text-color__grey-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid, animi autem culpa, eligendi eos eveniet fuga harum ipsa itaque minima molestias, natus omnis repellendus repudiandae tenetur unde ut.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ep_gridcolumn" data-view1200="8" data-view1020="8" data-view750="6" data-view640="8" data-view480="8" data-view320="4">
                <div class="ep_gridcolumn-content">
                    <div class="component space-t__20px space-b__20px fadeOutBounce" style="padding-right: 40px;" data-delay-slideRight="1">
                        <div data-picture title="Read more">
                            <figure class="article-top-story_thumb">
                                <div class="article-top-story_thumb-link">
                                    <img src="img/chart-2.png" alt="menneke" class="article-top-story_thumb-img">
                                    <figcaption class="article-top-story_thumb-caption align-txt-c space-b__20px space-t__20px space-l__20px back-color__grey-lighter hidden">Test</figcaption>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>